{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    {% if error %}
        {% if error.message=='Your user account no longer exists.' %}
            <div class="alert alert-danger mt-3">Votre compte n'est pas activé. Merci de contacter l'administrateur du site</div>
        {% endif %}
        {% if error.message=='The presented password is invalid.' or error.message=='Bad credentials.' %}
            <div class="alert alert-danger mt-3">Erreur de mail ou de mot de passe !</div>
        {% endif %}
    {% endif %}

    <div class="login">

        <h1>Connexion</h1>
        <form method="post">

            <label class="marginTop40" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" autofocus>


                <label class="marginTop20" for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


            <div class="logButton">
                <button class="btn  buttonBlancBleu "    type="submit">
                    Se connecter
                </button>
            </div>

            <label>
                <input type="checkbox" name="_remember_me" checked>
                Se souvenir de moi
            </label>
            <a class="" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>


        </form>
    </div>

    <div class="login">
        <h3>Pour se connecter :</h3>
        <ul>
            <ol class="aideConnexion">Avec Alan
                <li>Mail : alan.oie@fakemail.com</li>
                <li>Mot de passe : Pa$$w0rd</li>
            </ol>
            <ol class="aideConnexion">Avec Paula
                <li>Mail : paula.rhoide@fakemail.com</li>
                <li>Mot de passe : Pa$$w0rd</li>
            </ol>
        </ul>

    </div>
{% endblock %}
