{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="titre"><strong>Réinitialiser son mot de passe</strong></h1>

    <div class="marginTop40">
        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse email, et nous vous enverrons un lien
                pour refaire votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary marginTop40">Envoyer</button>
        {{ form_end(requestForm) }}
    </div>

{% endblock %}
