{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Créer nouvelle Sortie</h1>

    <h6>Site organisateur: {{ user.site }}</h6>
    {{ include('sortie/_form.html.twig') }}

    <a class="btn buttonBlancBleu" href="{{ path('app_sortie_index') }}">   Retour à l'accueil</a>
    <script src="{{ asset('js/listeLieux.js') }}"></script>
{% endblock %}
