{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}

    {#
    Savoir si l'utilisateur connecté est participant ou non, organisateur ou non
    #}
    {% set boutonCardSortie = sortie.getEtat.getlibelle %}
    {% set nbParticipant = sortie.participants|length %}
    {% if boutonCardSortie != "Passée" and boutonCardSortie != "En cours" and sortie.getEtat.getlibelle != "Annulée" %}
        {% if sortie.nbInscriptionMax == nbParticipant %}
            {% set boutonCardSortie = "Complet" %}
        {% endif %}
        {% for participant in sortie.participants %}
            {% if app.user.id == participant.id %}
                {% set boutonCardSortie = "Se desister" %}
            {% endif %}
        {% endfor %}
        {% if sortie.organisateur == app.user %}
            {% set boutonCardSortie = "Annuler sortie" %}
        {% endif %}
        {% if boutonCardSortie == sortie.getEtat.getlibelle and boutonCardSortie != "Clôturée" %}
            {% set boutonCardSortie = "S'inscrire" %}
        {% endif %}
    {% endif %}
    <h1>{{ sortie.nom }}</h1>

    <div class="sortie" id="sortieShow">
    {% include 'sortie/_show.html.twig' %}
    </div>

    <div class="bouttonsDetailSortie">
        <a class="btn buttonBlancBleu mt-4" href="{{ path('app_sortie_index') }}">Retour à l'accueil</a>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/show_sortie.js') }}"></script>
{% endblock %}